nav
{
	/* background-color: #008080; */
	font-family:Cursive;
}

ul
{
	text-align: center;
	margin: auto;
}

li
{
	margin-left: 50px;
}

.navbar-light .navbar-nav .nav-link
{
	color: #008080;
	font-size: 1.1rem;
}

.navbar-light .navbar-nav .nav-link:hover
{
	color: #dc3545;
}

.navbar-brand
{
	font-size: 1.5rem;
}

#searchBox
{
	border-color: #008080;
	color: #008080;
}


#searchBox::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #008080;
    opacity: 1; /* Firefox */
}

#searchBox::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #dc3545;
}

#searchBox::-ms-input-placeholder { /* Microsoft Edge */
	color: #dc3545;
}

#searchBtn
{
	border-color: #dc3545;
	color: #dc3545;
}

#searchBtn:hover
{
	border-color: #008080;
	background-color: #008080;
	color: white;
}