body
{
	padding-top: 65px;
	background-image: url("../../images/shangri-las.jpg");
}

p{
	font-size:30;
	color:whiter;
	font-family:Cursive;
}

#white{
	background-color: rgba(255,255,255,0.6);
	background-repeat: no-repeat;
	padding: 50px,30px;
	border-radius: 20px;
}

td
{
	padding-right: 0;
}

td.input
{
	padding-right: 45px;
}
	
.style
{
	font-size: 20;
	font-family:Impact;
	padding-left: 30px;

}
